@font-face {
  font-family: Rubik;
  src: url(Rubik-VariableFont_wght.ttf);
}

:root{
  font-size: 16px;
  --color-primary-100: #393d46;
  --color-primary-200: #2f333a;
  --color-primary-300: #222831;
  --color-primary-400: #bb0d78;

  --color-neutral-100: #FFFFFF;
  --color-neutral-900: #434852;

  --font-color-white: #FFFFFF;
  --font-color-black: #222831;
  --font-color-primary: #bb0d78;

  --ff-primary: "Rubik", sans-serif;
  --ff-secondary: 'Playfair Display', serif;
  --ff-tifax: 'Tifax', serif;

  --tile-height: 100vh;

  --columns: 10;
  --rows: 10;
  --tile-size: 50px;

  --gradient1: rgb(98, 0, 234);
  --gradient2: rgb(236, 64, 122);
}
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
*, *::before, *::after{
  box-sizing: border-box;
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}
body {
  background: linear-gradient(
    to right,
    var(--gradient1),
    var(--gradient2),
    var(--gradient1)
  );
  background-size: 200%;
  animation: background-pan 10s linear infinite;
  /* margin-left: 5rem; */
  overflow: overlay;
  font-family: var(--ff-primary);
  background-color: var(--color-primary-100);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  /* min-height: 300vh; */
  
}
body.is-toggled > .tiles > .tile:hover{
  opacity: 0.7;
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}
/* Track */
::-webkit-scrollbar-track {
  display: none;
  border-radius: 5px; /* Rounded corners */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(136,136,136); /* Set a background color */
  border-radius: 10px; /* Rounded corners */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(85,85,85); /* Add a hover effect */
}
@media(max-width: 55em){
  /* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  height: 0.2rem;
}
/* Track */
::-webkit-scrollbar-track {
  display: none;
  background-color: var(--color-primary-100);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(136,136,136); /* Set a background color */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(85,85,85); /* Add a hover effect */
}
}

svg{
  width: 1rem;
}
/* NAME HEADER */
/* .name-header{
  
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
  height: var(--tile-height);
} */
.title{
  white-space: nowrap;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -80%);
  color: var(--font-color-white);
  margin: 0px;
  pointer-events: none;
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
  transition: color 1200ms ease;
  z-index: 3;
}
.subtitle{
  white-space: nowrap;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0%);
  color: var(--font-color-white);
  margin: 0px;
  pointer-events: none;
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;
  transition: color 1200ms ease;
  z-index: 3;
}
.title .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
.subtitle .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
.title .line{
  opacity: 1;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}
.title .line1 { 
  top: 0; 
  left: 0;
}
.title .letter {
  display: inline-block;
  line-height: 1em;
}
.subtitle .letter{
  display: inline-block;
  line-height: 1em;
}
@media screen and (max-width: 55em) {
  .title{
    font-size: 3rem;
  }
  .subtitle{
    font-size: 1.5rem;
  }
}
  

.tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: fixed;
  top:0;
  left:0;
  z-index: 1;  
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
  opacity: 0.5; /* inital opacity when hovering*/
}

.tile:before { 
  background-color: rgb(15, 15, 15);
  opacity: 0.7; /* inital opacity */
  content: "";
  inset: 0.5px;
  position: absolute;
}

/* CONTENT */
.content-container{
  z-index: 3;
  margin-top: 0;
  /* margin-left: 5rem; */
  position: relative;
  top: 110vh;

}
.content-container > :last-child .content{
  padding-bottom: 23rem;
}
.header-container{
    background-color: rgba(37, 3, 80, 0.5);
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backdrop-filter: grayscale(90%) blur(3px);
    backdrop-filter: grayscale(90%) blur(3px);
  }
.header-container::after, .header-container::before{
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  opacity: 0.5;
  background-color: var(--color-neutral-900);
}
.header-container > h2{
  color: #fff;
}
h2 {
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.6;
    text-align: center;
    /* color: var(--color-neutral-900); */
}

.content{
  background-color: rgba(34, 34, 34, 0.5);
  padding-top: 10rem;
  padding-bottom: 15rem;
  margin-inline: auto;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);

}
#Projects .content{
  padding-top: 5rem;
  padding-bottom: 10rem;

}
@media screen and (max-width: 55em){
  .content{
    padding-top: 5rem;
    padding-bottom: 10rem;
  }
}

.split {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: var(--color-neutral-100);
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
}
.square > *{
    object-fit: cover;
    height: 20rem;
    width: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.circle{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle > *{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}
.text{
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}
.text > h1{
    font-size: 2rem;
    font-weight: 700;
}
.text > h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.text > p{
    font-size: 1.5rem;
    font-weight: 400;
}
@media(min-width: 55em){
  .split {
      flex-direction: row;
  }
  .split > * {  /* this is a CSS combinator which selets all direct children of .split */
      flex-basis: 50%;
  }
  
  .split > * + * { /* this is a CSS combinator which selects all direct children of .split that are preceded by a sibling */
      margin-left: 2rem;
  }
}

@media screen and (max-width: 55em){
  .split{
    padding: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .circle{
    padding-bottom: 3rem;
  }
  .circle > *{
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }
  .square > *{
    height: 10rem;
  }
  .text > *{
    font-size: 1rem;
    font-weight: 400;
  }
}


.boxes {
    display: grid;
    margin-inline: auto;
    width: min(90%, 70.5rem);
    

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 3rem;
    column-gap: 2rem;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
}
.box img {
  background-color: #FFFFFF;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: filter 200ms ease;

}
.box a{
  
  position: relative;
  display: block;
  width: 20rem;
  height: 20rem;
  color: #FFFFFF;
  text-decoration: none;
  
  
}
.box a > p {
  pointer-events: none;
  opacity: 0;
  position: relative;
  margin: 0;
  padding: 0;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  font-size: 1.5rem;
  font-weight: 700;
}
.box a > img:hover{
  filter: brightness(0.5);
}
.box a > img:hover + p{
  opacity: 1;
}
@media screen and (max-width: 55em){
  .boxes{
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .box{
    padding-bottom: 1rem;
  }
  .box a{
    width: 12rem;
    height: 12rem;    
  }
  .box a > p{
    opacity: 1;
    top : 8%;
    font-size: 1rem;
    font-weight: 400;
  }
}

img {
    max-width: 100%;
    border-radius: 15px;
}

/* NAVBAR CSS */
/* Media Query (if using a larger screen) */
  @media(min-width: 55em){ 
    .navbar{
      top: 0;
    }
    .logo{
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1rem;
      text-align: center;
      width: 100%;
    }
    .logo svg{
      transform: rotate(0deg);
      transition: transform 200ms;
    }
    .navbar:hover .logo svg{
      transform: rotate(180deg);
    }
    .logo .nav-link:hover svg{
      animation: none;
      transform: rotate(270deg);
    }
  }
  .navbar {
      background-color: var(--color-primary-300);
      position: fixed; 
      white-space: nowrap;
      left: 0;
      width: 5rem;
      height: 100vh;
      z-index: 999;

      transition: width 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .navbar-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    height: 100%;
  }
  .nav-item{
    width: 100%;
  }
  .nav-item:nth-last-child(3){
    margin-top: auto;
  }

  .nav-link {
      display: flex;
      align-items: center;
      height: 5rem;
      color: var(--font-color-white);
      text-decoration: none;
      filter: grayscale(100%) opacity(0.7);
      transition: 200ms;
  }
  .nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-100)
  }
  
  .nav-link:hover svg{
    animation-name: navAnimation;
    animation-duration: 150ms;
    animation-timing-function: cubic-bezier(0.23, 0.2, 0, 1);
    animation-iteration-count: 2;
    animation-direction: alternate;
  }
  @keyframes navAnimation {
    from {transform: translateX(0);}
    to {transform: translateX(0.5rem);}
  }
  .link-text{
    display: none;
    margin-left: 1rem;
    transition: opacity 200ms;
  }
  .nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  .navbar:hover {
    width: 16rem
  }
  .navbar:hover .link-text{
    display: inline;
  }

  .fa-primary{
    color: #ff7eee
  }
  .fa-secondary{
    color: #df49a6
  }
  .fa-primary .fa-secondary{
    transition: 200ms;
  }

  
  /* Media Query (if using a smaller screen) */
    @media(max-width: 55em){
      body{
        margin-left: 0;
      }
      .navbar{
        top: 0;
        width: 100vw;
        height: 3.5rem;
      }
      .navbar:hover {
        width: 100vw
      }
      .navbar-list{
        overflow-y: hidden;
        overflow-x: scroll;
        flex-direction: row;
        width: 100%;

      }
      .logo{
        margin-bottom: 0;
        height: 3.5rem;
        transform: rotate(270deg);
        justify-content: center;
      }
      .logo .nav-link:hover svg{
        animation-name: logoAnimation;
        animation-duration: 150ms;
        animation-timing-function: cubic-bezier(0.23, 0.2, 0, 1);
        animation-iteration-count: 2;
        animation-direction: alternate;
      }
      .nav-link{
        height: 3.5rem;
        justify-content: center;
      }
      .navbar:hover .link-text{
        display: none;
      }
      @keyframes logoAnimation {
        from {transform: translateX(0);}
        to {transform: translateX(0.5rem);}
      }
      @keyframes navAnimation {
        from {transform: translateY(0);}
        to {transform: translateY(-0.5rem);}
      }
}
/* FOOTER CSS */

footer {
  background-color: var(--color-neutral-900);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  opacity: 0.98;
}